body {
  background: #000;
  color: white;
}
/* ---------------------------- */
#threeColor {
background: rgba(38, 70, 212, 0.123);
}
/* ---------------------------- */
a {
  font-weight: bold;
  text-decoration: none;
  color:rgb(42, 38, 38);
  padding:25px;
}
a:hover {
  color:rgb(253, 229, 14);
  padding: 50px;
}
/* ---------------------------- */
li {
  list-style-type: none;
  display: inline-block;
  background-color: rgba(253, 253, 253, 0.705);
}
/* ---------------------------- */
/* ---------------------------- */

#red, #green, #blue {
    display: inline-block;
    width:50px;
    height:50px;
    border-radius: 50px;
    margin:20px;
    border:solid 9px rgb(243, 243, 243);
  }
/* ---------------------------- */
  #red {
    background: rgb(144, 11, 233);
  }
  
  #green {
    background: rgb(93, 172, 93);
  }
  
  #blue {
    background: rgb(26, 125, 155);
  }

  #red:hover, #blue:hover, #green:hover {
    border:solid 9px goldenrod;
  }

  #red:hover {
    background: rgb(255, 2, 2);
  }
  
  #green:hover {
    background: rgb(7, 226, 7);
  }
  
  #blue:hover {
    background: rgb(1, 196, 255);
  }
/* ---------------------------- */
/* ---------------------------- */
b {
  font-family:'serif';
  font-size:2em;
  font-weight: bold;
  color: crimson;
}
/* --------------------------- -*/
h1 {
  font-size: 3em;
  background: yellow;
  color: rgb(255,0,255); /*LE fichier Js semble être prioritaire devant le fichier css */
}